In [59]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.decomposition import PCA
#Reading The CSV
data=pd.read_csv('crime.csv',engine='python')

In [60]:
data['SHOOTING']=data['SHOOTING'].fillna('N')
data['SHOOTING'].unique()

array(['N', 'Y'], dtype=object)

In [61]:
transform_labels=data.iloc[:,:]
transform_labels.loc[:,'STREET']=LabelEncoder().fit_transform(tras.loc[:,'STREET'])
transform_labels.loc[:,'UCR_PART']=LabelEncoder().fit_transform(tras.loc[:,'UCR_PART'])
transform_labels.loc[:,'OFFENSE_CODE_GROUP']=LabelEncoder().fit_transform(tras.loc[:,'OFFENSE_CODE_GROUP'])
transform_labels.loc[:,'OFFENSE_DESCRIPTION']=LabelEncoder().fit_transform(tras.loc[:,'OFFENSE_DESCRIPTION'])
transform_labels.loc[:,'DISTRICT']=LabelEncoder().fit_transform(tras.loc[:,'DISTRICT'])
transform_labels.loc[:,'REPORTING_AREA']=LabelEncoder().fit_transform(tras.loc[:,'REPORTING_AREA'])
transform_labels.loc[:,'SHOOTING']=LabelEncoder().fit_transform(tras.loc[:,'SHOOTING'])
transform_labels.loc[:,'DAY_OF_WEEK']=LabelEncoder().fit_transform(tras.loc[:,'DAY_OF_WEEK'])

In [62]:
transform_labels.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182080058,2403,14,62,10,439,1,2018-10-03 20:13:00,2018,10,6,20,3,240,42.262608,-71.121186,"(42.26260773, -71.12118637)"
1,I182080053,3201,52,186,7,770,1,2018-08-30 20:00:00,2018,8,4,20,2,143,42.352111,-71.135311,"(42.35211146, -71.13531147)"
2,I182080052,2647,46,221,3,256,1,2018-10-03 19:20:00,2018,10,6,19,3,1273,42.308126,-71.076930,"(42.30812619, -71.07692974)"
3,I182080051,413,0,16,0,835,1,2018-10-03 20:00:00,2018,10,6,20,1,728,42.359454,-71.059648,"(42.35945371, -71.05964817)"
4,I182080050,3122,1,4,2,290,1,2018-10-03 20:49:00,2018,10,6,20,2,3408,42.375258,-71.024663,"(42.37525782, -71.02466343)"

In [71]:
data=transform_labels.loc[:,['OFFENSE_CODE', 'OFFENSE_CODE_GROUP','OFFENSE_DESCRIPTION', 'DISTRICT', 'REPORTING_AREA', 
                             'SHOOTING', 'YEAR','DAY_OF_WEEK', 'HOUR', 'UCR_PART', 'STREET']]

In [73]:
pca=PCA(n_components=9).fit(data)

In [74]:
print(pca.explained_variance_ratio_)

[5.91470026e-01 3.89432647e-01 1.81139273e-02 9.70870072e-04
 1.09700932e-05 1.14439377e-06 2.81988125e-07 1.32480820e-07
 8.84336679e-10]

In [76]:
pca=PCA(n_components=5).fit(data)
print(pca.explained_variance_ratio_)

[5.91470026e-01 3.89432647e-01 1.81139273e-02 9.70870072e-04
 1.09700932e-05]