In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.decomposition import PCA
#Reading The CSV
data=pd.read_csv('crime.csv',engine='python')

In [3]:
data['SHOOTING']=data['SHOOTING'].fillna('N')
data['SHOOTING'].unique()

array(['N', 'Y'], dtype=object)

In [4]:
transform_labels=data.iloc[:,:]
transform_labels.loc[:,'STREET']=LabelEncoder().fit_transform(transform_labels.loc[:,'STREET'].astype('str'))
transform_labels.loc[:,'UCR_PART']=LabelEncoder().fit_transform(transform_labels.loc[:,'UCR_PART'].astype('str'))
transform_labels.loc[:,'OFFENSE_CODE_GROUP']=LabelEncoder().fit_transform(transform_labels.loc[:,'OFFENSE_CODE_GROUP'])
transform_labels.loc[:,'OFFENSE_DESCRIPTION']=LabelEncoder().fit_transform(transform_labels.loc[:,'OFFENSE_DESCRIPTION'])
transform_labels.loc[:,'DISTRICT']=LabelEncoder().fit_transform(transform_labels.loc[:,'DISTRICT'].astype('str'))
transform_labels.loc[:,'REPORTING_AREA']=LabelEncoder().fit_transform(transform_labels.loc[:,'REPORTING_AREA'].astype('str'))
transform_labels.loc[:,'SHOOTING']=LabelEncoder().fit_transform(transform_labels.loc[:,'SHOOTING'])
transform_labels.loc[:,'DAY_OF_WEEK']=LabelEncoder().fit_transform(transform_labels.loc[:,'DAY_OF_WEEK'])

In [5]:
transform_labels.head()

,INCIDENT_NUMBER,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,OCCURRED_ON_DATE,YEAR,MONTH,DAY_OF_WEEK,HOUR,UCR_PART,STREET,Lat,Long,Location
0,I182080058,2403,14,62,10,439,0,2018-10-03 20:13:00,2018,10,6,20,3,240,42.262608,-71.121186,"(42.26260773, -71.12118637)"
1,I182080053,3201,52,186,7,770,0,2018-08-30 20:00:00,2018,8,4,20,2,143,42.352111,-71.135311,"(42.35211146, -71.13531147)"
2,I182080052,2647,46,221,3,256,0,2018-10-03 19:20:00,2018,10,6,19,3,1273,42.308126,-71.076930,"(42.30812619, -71.07692974)"
3,I182080051,413,0,16,0,835,0,2018-10-03 20:00:00,2018,10,6,20,1,728,42.359454,-71.059648,"(42.35945371, -71.05964817)"
4,I182080050,3122,1,4,2,290,0,2018-10-03 20:49:00,2018,10,6,20,2,3408,42.375258,-71.024663,"(42.37525782, -71.02466343)"

In [6]:
data=transform_labels.loc[:,['OFFENSE_CODE', 'OFFENSE_CODE_GROUP','OFFENSE_DESCRIPTION', 'DISTRICT', 'REPORTING_AREA', 
                             'SHOOTING', 'YEAR','DAY_OF_WEEK', 'HOUR', 'UCR_PART', 'STREET']]

In [7]:
pca=PCA(n_components=11).fit(data)

In [8]:
print(pca.explained_variance_ratio_)

[5.91420598e-01 3.89405264e-01 1.81125137e-02 9.92571142e-04
 5.39400301e-05 1.09663313e-05 2.59277550e-06 1.14421814e-06
 2.81928127e-07 1.27758734e-07 8.81706940e-10]

In [10]:
print(pca.singular_values_)

[8.36420089e+05 6.78698894e+05 1.46374558e+05 3.42654985e+04
 7.98788538e+03 3.60169484e+03 1.75129251e+03 1.16340425e+03
 5.77491286e+02 3.88751011e+02 3.22952285e+01]

When PCA is used, the maximum variance is obtained by features offense code and offense code group. These can be further used to make predictions.