In [103]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.decomposition import PCA
#Reading The CSV
data=pd.read_csv('crime.csv',engine='python')

In [104]:
data['SHOOTING']=data['SHOOTING'].fillna('N')
data['SHOOTING'].unique()

array(['N', 'Y'], dtype=object)

In [109]:
transform_labels=data.iloc[:,:]
transform_labels.loc[:,'STREET']=LabelEncoder().fit_transform(transform_labels.loc[:,'STREET'].astype('str'))
transform_labels.loc[:,'UCR_PART']=LabelEncoder().fit_transform(transform_labels.loc[:,'UCR_PART'].astype('str'))
transform_labels.loc[:,'OFFENSE_CODE_GROUP']=LabelEncoder().fit_transform(transform_labels.loc[:,'OFFENSE_CODE_GROUP'])
transform_labels.loc[:,'OFFENSE_DESCRIPTION']=LabelEncoder().fit_transform(transform_labels.loc[:,'OFFENSE_DESCRIPTION'])
transform_labels.loc[:,'DISTRICT']=LabelEncoder().fit_transform(transform_labels.loc[:,'DISTRICT'].astype('str'))
transform_labels.loc[:,'REPORTING_AREA']=LabelEncoder().fit_transform(transform_labels.loc[:,'REPORTING_AREA'].astype('str'))
transform_labels.loc[:,'SHOOTING']=LabelEncoder().fit_transform(transform_labels.loc[:,'SHOOTING'])
transform_labels.loc[:,'DAY_OF_WEEK']=LabelEncoder().fit_transform(transform_labels.loc[:,'DAY_OF_WEEK'])

In [91]:
transform_labels.head()

,OFFENSE_CODE,OFFENSE_CODE_GROUP,OFFENSE_DESCRIPTION,DISTRICT,REPORTING_AREA,SHOOTING,YEAR,DAY_OF_WEEK,HOUR,UCR_PART,STREET
0,2403,14,62,10,439,1,2018,6,20,3,240
1,3201,52,186,7,770,1,2018,4,20,2,143
2,2647,46,221,3,256,1,2018,6,19,3,1273
3,413,0,16,0,835,1,2018,6,20,1,728
4,3122,1,4,2,290,1,2018,6,20,2,3408

In [113]:
data=transform_labels.loc[:,['OFFENSE_CODE', 'OFFENSE_CODE_GROUP','OFFENSE_DESCRIPTION', 'DISTRICT', 'REPORTING_AREA', 
                             'SHOOTING', 'YEAR','DAY_OF_WEEK', 'HOUR', 'UCR_PART', 'STREET']]

In [114]:
pca=PCA(n_components=5).fit(data)

In [115]:
print(pca.explained_variance_ratio_)

[5.09234244e-01 4.67603197e-01 2.18856286e-02 1.19387537e-03
 6.48782247e-05]

In [116]:
print(pca.singular_values_)

[707688.13477116 678143.8848384  146710.9829614   34265.9368941
   7987.89951401]

In [117]:
from sklearn import manifold

In [118]:
clf = manifold.LocallyLinearEmbedding(n_neighbors=20, n_components=2, method='standard')
lle = clf.fit_transform(data)

In [121]:
lle.shape

(327820, 2)